#items-screen {
  height: 90vh;
  overflow: hidden;
}

.custom-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
  border-radius: 8px;
}

/* .custom-card1 {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
    border-radius: 8px;
    width: 4rem;
  } */
.scrollable-div {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 95%;
}

.scrollable-div::-webkit-scrollbar {
  width: 7px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.specifications {
  width: 65%;
}

.arrow {
  font-size: 20px;
  margin-left: 5px;
}

.accordion {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

/* .accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
    border-bottom: none;
} */

.accordion-header {
  background: #f7f7f7;
  padding: 10px;
  display: flex;
  cursor: pointer;
  font-weight: bold;
}

.accordion-body {
  max-height: 0;
  display: none;
  overflow: hidden;
  padding: 0 15px;
}

.accordion-body.show {
  max-height: 100%;
  /* Adjust as needed */
  padding: 15px;
  display: block;
}

.bottom-bar {
  position: sticky;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mbl-img {
  width: 100%;
}

@media (max-width:500px) {
  .items-screen {
    height: 100%;
  }

}