.custom-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
  border-radius: 8px;
  /* Optional: for rounded corners */
}

.custom-card1 {
  /* width: 220px; */
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
  border-radius: 8px;
  display: block;
  align-self: stretch;
}

/* .custom-card:first-child {
      width: 15%;
  } */

.category-item {
  border-bottom: 1px solid #757575;
}

.category-item:last-child {
  border-bottom: none;
}

.image-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.container-item {
  width: 300px;
  /* Adjust width as needed */
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.category-img {
  width: 50px;
  height: 50px;
}

.header {
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.content {
  text-align: center;
  margin-top: 20px;
}

.model,
.storage {
  font-weight: bold;
}

.phone-image {
  margin: 20px 0;
}

.price {
  font-weight: bold;
}

.features {
  margin-top: 20px;
}

.features p {
  margin-bottom: 5px;
}

.custom-card1 p {
  text-decoration: none;
}

.customcard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  height: 60px;
}