.home-div{
  height: 100vh;
}

.custom-card {
  /* width: 96vw; */
  /* margin-top: 10%; */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  /* Optional: for rounded corners */
}
.content-main{
  width: calc(100vw - 100px);
}
.content-div{
  height: 85vh;
  overflow-y: auto;
}
.category{
  width: 70px;
  height: 88vh;
}

.custom-card .item-size {
  /* width: 7rem; */
  list-style: none;
  font-size: small;
}

.categories-item {
  width: max-content;
}

.category-img {
  width: 60px;
  height: 60px;
}

.category-name{
  position: absolute;
  top: -20%;
  left: 10px;
}

@media (max-width:991px) {
  .category{
    width: 92vw;
    overflow-x: auto;
    height: auto;
  }
  .content-main{
    width: 92vw;
    margin: 17px;
  }
  .content-div{
    height: 100%;
  }
  .category-img{
    width: 70px;
  }
}