.custom-card {
  /* width: 96vw; */
  /* margin-top: 10%; */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  /* Optional: for rounded corners */
}
.content-main{
  width: 100%;
}
.content-div{
  height: 100%;
  overflow-y: auto;
}
.category{
  width: 76px;
  height: 100%;
}

.custom-card .item-size {
  /* width: 7rem; */
  list-style: none;
  font-size: small;
}

.categories-item {
  width: max-content;
    transition: transform .3s;
}

.categories-item:hover {
  transform: scale(1.2);
}
.category-img {
  width: 60px;
  height: 60px;
}

.category-name{
  position: absolute;
  top: -20%;
  left: 10px;
}

.categories-wrapper {
  position: relative;
}

.categories-item {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.categories-item.selected {
  transform: scale(1.2);
}

.selection-indicator {
  position: absolute;
  left: 0;
  margin-top: 6px;
  width: 4px;
  background-color: #007BFF;
  transition: top 0.3s ease, height 0.3s ease;
  border-radius: 2px;
}

@media (max-width:991px) {
  .category{
    width: 92vw;
    overflow-x: auto;
    height: auto;
  }
  .content-main{
    width: 92vw;
  }
  .content-div{
    height: 100%;
  }
  .category-img{
    width: 70px;
  }
}